<ul>
    <li>COUNTER: Version COUNTER 5.0</li>
    <li>Platform: NLH</li>
    <li>Contact Name: Maria Huber</li>
    <li>Contact Email: nlh@sub.uni-goettingen.de</li>
    <li>Instructions: Please see https://github.com/subugoe/sushi</li>
    <li>Server URL: http://nl.subugoe.uni-goettingen.de/counter/r5</li>
    <li>About Requestor ID: user_name, e.g. XYZ1234</li>
    <li>About Customer ID: zuid, e.g.3a1c5377-4816-037k-0f17-837zjw1xgs2a</li>
    <li>Reports Supported: Journal Report 1, Book Report 1, Database Report 1, Platform Report 1</li>
    <li>Submitted: 20/3/2017 12:15:30</li>
</ul>











